.loginBackground {
  background: linear-gradient(to bottom right, #7e5bec, #2b8ded);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  color: #ffffff;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%; 
  margin-top: auto;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card {
  background-color: #ffffff; 
  border: none; 
  color: #020202;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.formGroup {
  margin-top: 20px;
  margin-bottom:0px; 
}

.operatorList {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; 
  justify-content: center;

}

.operatorCard {
  width: calc(25% - 1rem);
  margin: 1rem; 

  @media (max-width: 768px) { 
    .operatorCard {
      width: calc(50% - 2rem); 
    }
  }
  
  @media (max-width: 480px) {
    .operatorCard {
      width: calc(100% - 2rem); 
    }
  }
}
.operatorIcon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.changeButtonContainer{
  background: #81a1c1;
  color: #ffffff;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 1rem;
  margin-right: 4rem;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pageTitle {
  margin-bottom: 20px;
}

.cancelButton{
  margin-left: 1rem;
  background-color: hsl(221, 85%, 56%);
}