/* Dont touch loginBackground */
.root {
  background-color: green;
}

.loginBackground {
  background: linear-gradient(to bottom right, #7e5bec, #2b8ded);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  color: #ffffff;
}

.headerBackground {
  background-color: rgba(126, 91, 236, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 20px;

  @media (max-width: 992px) {
    .headerBackground {
      flex-direction: column;
      align-items: flex-start;
    }
 }
}
.logo-title-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.logo {
  width: 100px; 
  height: auto;
  position: relative;
  top: -20px;
}

.title {
  color: rgb(238, 221, 221); 
  font-size: 60px;
  font-family: sans-serif;
  line-height: 100px;
  margin: 0;
  padding: 0;
  text-decoration: fade-in($color: #ffffff, $amount: 1), solid;
}


.customToggle {
  border: none;
  outline: none;
  padding-left:1px;
  color:#7e5bec !important;
  font-size: 30px;
  margin-left: 25px;
  margin-bottom: 25px;
}

.customToggle button.navbar-toggler {
  color: white !important; 
}

.navLink {
  font-size: 24px; 
  margin-bottom: 10px;
  color: #2b8ded;
}

.navDropdown .dropdown-item {
  font-size: 24px; 
  margin-bottom: 10px; 
}

.offCanvas {
 background-color: rgb(253, 253, 253, 0.98);
}

.offcanvasTitle {
  font-size: 40px;
  color: #2b8ded;
  text-shadow: #2b8ded;
}


.buttonUpload {
  background-color: #979494; 
  color: #ffffff; 
  margin-bottom: 10px;
  margin-right: 25px;
  padding: 5px 10px; 
  border: 1px solid #59575f; 
  border-radius: 5px; 
  font-size: 16px; 
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease; 
 

}

  .buttonDownload {
    background-color: #979494; 
    color: #ffffff; 
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 5px 10px; 
    border: 1px solid #59575f; 
    border-radius: 5px; 
    font-size: 16px; 
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease; 

  &:hover {
    background-color: #6a686e; 
    color: #ffffff; 
    text-decoration: none; 
  }
}

.registrationPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}

.registrationContent {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.3);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registrationCard {
  background: linear-gradient(to bottom right, #9885d3, #508ac4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 25rem; 
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginButton {
  background: #81a1c1;
  color: #ffffff;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-right: 1rem;
  transition: background-color 0.3s ease;
}

.documentList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.documentBox {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #6d6868;
  }
}

.documentName {
  font-weight: bold;
}

.documentBox {
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #8186d8;
  border: 1px solid #3f3e3e;
  cursor: pointer;

  &:hover {
    background-color: #666363;
  }

  .documentName {
    margin-bottom: 5px;
  }

  .documentCheckboxContainer {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
  }

  .documentCheckbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .documentCheckmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  .documentCheckbox:checked + .documentCheckmark:after {
    display: block;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}

.uploadButton {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.uploadLabel {
  cursor: pointer;
}

.uploadInput {
  display: none; 
}

.uploadIcon {
  font-size: 3rem;
  color: #fff;
  margin: 10px;
}

.selectedFile {
  color: #fff;
  font-size: 1rem;
}

.uploadContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}