/* Dont touch loginBackground */
.root {
  background-color: green;
}

.loginBackground {
  background: linear-gradient(to bottom right, #7e5bec, #2b8ded);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 0;
  color: #ffffff;
}

.headerBackground {
  background-color: rgba(126, 91, 236, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  width: 120px; 
  height: 120px;
  margin-left: 38px;
} 

.title {
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(238, 221, 221); 
  font-size: 70px;
  font-family:sans-serif;
  margin-left: 2rem;
  text-decoration:fade-in($color: #ffffff, $amount: 1), solid;
}

.customToggle {
  border: none;
  outline: none;
  padding-left:35px;
  color:#7e5bec !important;
  font-size: 38px;
}

.customToggle button.navbar-toggler {
  color: white !important; 
}

.navLink {
  font-size: 24px; 
  margin-bottom: 10px;
  color: #2b8ded;
}

.navDropdown .dropdown-item {
  font-size: 24px; 
  margin-bottom: 10px; 
}

.offCanvas {
 background-color: rgb(253, 253, 253, 0.98);
}

.offcanvasTitle {
  font-size: 40px;
  color: #2b8ded;
  text-shadow: #2b8ded;
}