html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
}

.loginPage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #7e5bec, #2b8ded);
}

.logo {
  width: 180px; 
  height: auto;
  margin-right: 10px;
}

.title {
  font-size: 5rem;
  color: #ffffff;
}

.loginContainer {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 25rem; 
  height: 30rem; 
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  color: #46494b;
  
}

.inputGroup input {
  flex: 1;
  padding: 1rem; 
  border: 1px solid transparent;
  border-radius: 1rem; 
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  font-size: 1rem;
  color: inherit;

  &:focus {
    outline: none;
    border-color: #5e81ac;
    background-color: rgba(255, 255, 255, 0.75);
  }
}

.inputGroup i {
  margin-right: 1rem; 
}

.loginCard {
  max-width: 20rem; 
}

.loginActions {
  display: flex;
  justify-content: center; 
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #ffffff;
}

.loginBackground {
  background: linear-gradient(to bottom right, #7e5bec, #2b8ded);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  color: #ffffff;
}

.loginTitle {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .loginContainer {
    width: 27rem; 
  }

  .title {
  font-size: 5rem;
    margin-right: 2rem;
  }
}

@media only screen and (max-width: 767px) {
  .loginContainer {
    width: 20rem; 
  }

  .title {
    font-size: 4rem; 
  }
}

.loginButton {
  background: #81a1c1;
  color: #ffffff;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-right: 1rem;
  transition: background-color 0.3s ease;
}

.forgotPassword {
  color: #ffffff;
  text-decoration: none;
  margin-top: 0.5rem;
  font-weight: bold;
}

.registerLink {
  color: #ffffff;
  text-decoration: none;
  margin-top: 0.5rem;
  font-weight: bold;
}

.additionalText {
  text-align: center;
  font-weight: lighter;
  font-size: 2.5rem;
  margin-left: 5rem;
}

.registrationPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
}

.registrationContent {
  background-color: #fefefe;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.3);
}

.close {
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registrationCard {
  background: linear-gradient(to bottom right, #9885d3, #508ac4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 0.8rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 25rem; 
  max-width: 80%;
  box-sizing: border-box;
}

.error {
  color: red;
	text-align: center;
}